body {
	background: black
}


.div-main-page {
	width: auto;
	height: 100%;
	overflow: hidden;
	background: black;
    background-image: url('images/anglogo.jpg');
  	background-repeat: no-repeat;
 	background-attachment: fixed;
    background-position: center; 
	
	color: rgb( 200, 200, 255);
	margin: 0 0 0 0;
	padding: 0 0 0 0;


	
}
.div-setting {
	width: 50px;
	height: 100%;
	float: right;
	background: rgb( 0, 0, 60);
	border-left: thin;
	border-left-color: rgb( 200, 200, 255);
	border-left-style: solid;
}
.div-settings-full {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgb( 0, 0, 60);
	border-left: thin;
	border-left-color: rgb( 200, 200, 255);
	border-left-style: solid;
	
}


.header_ribbon {
	color: rgb( 200, 200, 255);
	font-family: serif;
	height: 36px;
	overflow: hidden;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	float: left;
}
.blue-ribbon {
	background: blue;
	width: 100%;
	height: 36px;
	border-bottom: thin;
	border-bottom-color: rgb( 0, 255, 255);
	border-bottom-style: solid;
	margin: 0 0 0 0;
	padding: 0 0 0 0;

}
.img-setting {
	position: relative;
	float:left;
	top: 0px;
	left: 5px;
	height: 36px;
	width: 36px;
	padding-right: 10px;
	
}
.img-logoff {
	position: relative;
	background: blue;
	float: right;
	text-align: right;
	top: 0px;
	height: 36px;
	width: 36px;
	padding-right: 10px;
	
}


.container {
    width:100%;
    height:100%;
    border:1px solid;
}
.left {
    width:auto;
    height:200px;
    background:red;
    overflow:hidden;
}
.right {
    height:200px;
    width:200px;
    background:blue;
    float:right;
}

.input-item-label {
	color: white;
	font-size: 18;
	font-weight: bold;
	font-family: sans-serif;
	text-align: right;
}

.input-item {
	font-size: 18;
	font-weight: normal;
	font-family: sans-serif;
	text-align: right;
	
	text-align:justify;
	width: 100%;
	border:outset 3px #ffffff;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}